:root{
    --color-green: #76bc21;
    --background-color-opacity: #00000085;
}

a.link{
    display: block;
    color: var(--color-green);
    text-decoration: none;
    transition: opacity .25s ease;
    vertical-align: middle; /* Добавим это свойство */
}

a.link:hover:not(.link.logo){
    opacity: 0.7;
    color: var(--color-green);
}

.block-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    position: relative;
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 85%, 0 70%);
}

.header-background {
    position: absolute;
    height: inherit;
    width: 100%;
    background: #00000075;
    z-index: 1;
}

.header__background-wrapper {
    position: absolute;
    height: inherit;
    width: 100%;
    z-index: 1;
}

.header-top {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    height: 60px;
    z-index: 3; /* Устанавливаем для текста более высокий z-index */
    color: #ffffff;
    height: 80px;
    background-color: var(--background-color-opacity);
}

.header-top a.link.active {
    color: var(--color-green);
}

.link.logo {
    width: 260px;
    font-size: 24px;
    margin-right: 72px;
    font-weight: bold;
    color: #ffffff;
}

.menu-element {
    margin-right: 25px;
    font-size: 20px;
}

.menu-element:last-child {
    margin-right: 0px;
}

.link.menu-elementlink {
    display: inline-flex;
    font-weight: bold;
    color: #ffffff;    
}


.menu-elementlink.home {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.switcher-container {
    width: 260px;
}

.switcher {
    position: relative;
    display: flex;
    margin-left: 100px;
    align-items: center;
    height: 35px;
    width: 90px;
    padding: 0 10px;
    font-weight: bold;
    background: #00000085;
    border-radius: 20px;
    opacity: 0.9;
    transition: opacity 0.25s ease;
    cursor: pointer;
}

.switcher:hover {
    opacity: 0.9;
}

.switcher:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 30px;
    color: #000000;
    background-image: url("../images/Britain.jpg");
    background-size: cover; /* или другое значение, чтобы изображение подстраивалось под размер блока */
    left: 42px;
    z-index: 1;
    border-radius: 20px;
    transition: left 0.25s ease-in-out;
}

#lang:checked + .switcher:before {
    left: 6px;
    background-image: url("../images/ukraine.jpg");
    background-size: cover; /* или другое значение, чтобы изображение подстраивалось под размер блока */
}


.switcher span {
    flex: 1 1 50%;
    position: relative;
    text-align: center;
    z-index: 2;
}


#lang {
    display: none;
}

.header-center {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: 2; /* Устанавливаем для текста более высокий z-index */
    align-items: center;
    padding-top: 60px;
    height: calc(110vh - 80px);
}

.header-center__wrapper {
    width: 100%;
    /*background-color: var(--background-color-opacity);*/
    text-align: left;
}

.name {
    font-size: 72px;
    font-weight: bold;
    font-family:  Verdana;
    padding-left: 20px;
    -webkit-text-stroke: 1px black; /* для WebKit (Chrome, Safari, Opera) */
    text-stroke: 1px black; /* Стандартное свойство */
    /*color: #ff0000;*/
    background-image: linear-gradient(to top, #efff0a, #2242f8);
    -webkit-background-clip: text; /* Для WebKit (Chrome, Safari) */
    background-clip: text; /* Стандартное свойство */
    color: transparent; /* Делаем цвет текста прозрачным */
}

.name-description {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    font-family:  sans-serif;
    padding-left: 20px;
    width: 41ch;
    -webkit-text-stroke: 1px black; /* для WebKit (Chrome, Safari, Opera) */
    text-stroke: 1px black; /* Стандартное свойство */
    color: #fffdfd;
    white-space: nowrap;
    border-right: 3px solid transparent;
    overflow: hidden;
    animation: cursor 0.75s 10, print_text 7s steps(63);
}

.slideshow-container {
    width: 100%;
    height: 80vh; /* Высота экрана */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    animation: zoomInOut 10s infinite alternate; /* Плавный наезд и смена */
}

.slide1 { background-image: url(../slide-image/image1.jpg); }
.slide2 { background-image: url(../slide-image/image2.jpg); }
.slide3 { background-image: url(../slide-image/image3.jpg); }
.slide4 { background-image: url(../slide-image/image4.jpg); }
.slide5 { background-image: url(../slide-image/image5.jpg); }
.slide6 { background-image: url(../slide-image/image6.jpg); }
.slide7 { background-image: url(../slide-image/image7.jpg); }
.slide8 { background-image: url(../slide-image/image8.jpg); }
.slide9 { background-image: url(../slide-image/image9.jpg); }
.slide10 { background-image: url(../slide-image/image10.jpg); }

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes cursor {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: #ffffff;
    }
}

@keyframes print_text {
    from {
        width: 0;
    }
}